{% extends "layout.twig" %}

{% block content %}
    <h2>Welcome to Dashboard</h2>
    <ul>
        <li>
            <a href="users/add"> Add User </a>
        </li>
        <li>
            <a href="jobs/add"> Add Job </a>
        </li>
    </ul>

    <br>
    <br>
    <li>
        <a href="logout">LogOut</a>
    </li>
{% endblock %}