{% extends "layout.twig" %}

{% block content %}
    <div class="row">
        <div class="col">
            <h2>Contact Me!</h2>
            <form action="../contact/send" method="post">
            <label for="name">Name</label>
            <input type="text" name="name" id="name"><br/>
            <label for="email">Email</label>
            <input type="email" name="email" id="email"><br/>
            <label for="message">Message</label>
            <input type="text" name="message" id="message"><br/>
            <button type="submit">Send</button>
            </form>
        </div>
    </div>
{% endblock %}